@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Open+Sans:wght@600&display=swap%27');

$Base-colour: #ffffff;
$Nav-colour: #52057b;
$Card-shade: #272727;

$Head-font: 'Open Sans', sans-serif;
$Body-font: 'Comforta', sans-serif;


body {
    background-color: $Base-colour;
    color: white;
    font-family: $Body-font;
    background-image: url('login1.jpg');
    background-size: cover;

    & h1 {
        font-family: $Head-font, sans-serif;
    }
}


.container {
    height: 100%;
    width: 30%;
    position: relative;
    top: 300px;
    left: 680px;
    box-shadow: 0px 0px 8px 2px rgb(184, 184, 184);
    border-radius: 30px;


    .login-form {
        background-color: white;
        border: 3px solid $Base-colour;
        padding: 40px;
        max-width: 500px;
        margin: auto;
        border-radius: 30px;

        .login-title {
            color: black;
            text-align: center;
        }
    
        .login-container {
            display: block;
            
        }
    }
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
  }

button[type=submit] {
    background: linear-gradient(45deg, #796fc1 0%, #838beb 100%);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    outline: none;
}