.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

.title {
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
}

.addtask {
    background-color: #2d3039;
    padding-top: 20px;
    border-top: 3px solid rgb(126, 126, 126);
    border-bottom: 3px solid #717beb;
}

.task {
    background: linear-gradient(45deg, #796fc1 0%, #838beb 100%);
    padding-top: 35px;
    border-top: 3px solid #717beb;
    border-bottom: 3px solid #717beb;
}

.points {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.taskname {
    margin-right: 38px;
}