{% load static %}

<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'team/Base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'team/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'team/Team-hub.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <title>Battle To-Do</title>
</head>

<body>
    <nav id="navbar" data-aos="fade-down" data-aos-duration="1000">
        <ul>
            <li><a href="/team/{{todo.player.player_team.pk}}/team-hub">
                    Team
                </a></li>
            <li><a href="/match/startgame">
                    Battle
                </a></li>
            <li style="float: right"><a href="/">
                    Logout
                </a></li>
        </ul>
    </nav>

    {% block content %}

    {% endblock %}

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>