<!DOCTYPE html>
<html>
  <head> </head>

  <body>
    <header>
      <h1>Todolist</h1>
    </header>
    <div>
      <form action="/{{todo.pk}}/search/" method="post">{% csrf_token %}
        <label for="task_name">Task Name: </label>
        <input id="task_name" type="text" name="task_name"><br>
        <label for="task_description">Task Description: </label>
        <input id="task_description" type="text" name="task_description">
        <input type="submit" value="OK"><br>
      </form>
    </div>

    <div>
      <ul>
        {% for task in tasks %}
        <li>{{task.task_name}}: {{task.task_description}}</li>
        {% endfor %}
      </ul>
    </div>
    <div>{{todo.user.player_name}}</div>
  </body>
</html>
