<!DOCTYPE html>
<html>

{% load static %}

<head>

    <link rel="stylesheet" type="text/css" href="{% static 'team-hub/main.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>

    <div id="navbar">
        <ul>
            <a href="#" target="_blank">
                Button A
            </a>
            <a href="#" target="_blank">
                Button B
            </a>
            <a href="#" target="_blank">
                Button C
            </a>
            <a href="#" target="_blank">
                Button D
            </a>
        </ul>
    </div>

    <div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero commodi pariatur possimus perspiciatis
            sapiente vel?</p>
    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>


</html>