{% extends 'team/Base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div class="Skill-info">
        <h1>How Skills Work</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate distinctio delectus autem. Excepturi, ea
            perspiciatis consequatur qui beatae quis quibusdam laboriosam itaque nam dolorum amet et praesentium numquam
            perferendis totam harum ex! Odio saepe necessitatibus minima quasi veritatis atque veniam quos, eum quia
            perspiciatis temporibus, officiis eligendi. Saepe, modi commodi!</p>

        <h2>Physical Attack</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</p>
        <h2>Physical Defense</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</p>
        <h2>Special Attack</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</p>
        <h2>Special Resistance</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</p>
        <h2>Agility</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</p>
    </div>

    <div class="Leaderboards">
        <h1>Top 10 Players</h1>
        {% for player in team_players %}
        <p>{{ player.player_name }}</p>
        {% endfor %}
        {% for player in team_players %}
        <p>{{ player.player_name }}</p>
        {% endfor %}
    </div>

    <div class="Leaderboards">
        <h1>Top 10 Teams</h1>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="Team-points" style="text-align: center;">
        <h1> {{ team.team_name }}</h1>
        <p>Available Points: {{ player.todo_points }}</p>
    </div>

    <div class="Team-box">
        <!--Players-->
        {% for player in team_players %}
        <div class="Teammate-card">
            <h1>{{ player.player_name }}</h1>
            <div>Physical Attack: {{ player.physical_attack }} <button type="button"><img src="Media/Plus-sign.png"
                        alt="Invest Point" width="2em" height="2em"></button></div>
            <div>Physical Defense: {{ player.physical_defense }} <button type="button"><img src="Media/Plus-sign.png"
                        alt="Invest Point" width="2em" height="2em"></button></div>
            <div>Special Attack: {{ player.special_attack }}<button type="button"><img src="Media/Plus-sign.png"
                        alt="Invest Point" width="2em" height="2em"></button></div>
            <div>Special Resistance: {{ player.special_defense }} <button type="button"><img src="Media/Plus-sign.png"
                        alt="Invest Point" width="2em" height="2em"></button></div>
            <div>Agility: {{ player.speed }}<button type="button"><img src="Media/Plus-sign.png" alt="Invest Point"
                        width="2em" height="2em"></button></div>
        </div>
        {% endfor %}
    </div>

    <div class="divInvestSkill">
        <h1>Invest your hard-earned points!</h1>
        <form action="">
            <label for="players">Choose Player to invest in</label>
            <select name="players" id="players">
                {% for player in team_players %}
                <option value="{{ player.player_name }}"></option>
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
        </form>

        <p>Points invested will not be returned, Choose wisely.</p>

    </div>
</div>

{% endblock %}