{% extends 'team/Base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div class="Skill-info">
        <h1>How Skills Work</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate distinctio delectus autem. Excepturi, ea
            perspiciatis consequatur qui beatae quis quibusdam laboriosam itaque nam dolorum amet et praesentium numquam
            perferendis totam harum ex! Odio saepe necessitatibus minima quasi veritatis atque veniam quos, eum quia
            perspiciatis temporibus, officiis eligendi. Saepe, modi commodi!</p>

        <h2>Physical Attack</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</p>
        <h2>Physical Defense</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</p>
        <h2>Special Attack</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</p>
        <h2>Special Resistance</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</p>
        <h2>Agility</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, blanditiis.</p>
    </div>

    <div class="Leaderboards">
        <h1>Top 10 Players</h1>
        {% for player in team_players %}
        <p>{{ player.player_name }}</p>
        {% endfor %}
        {% for player in team_players %}
        <p>{{ player.player_name }}</p>
        {% endfor %}
    </div>

    <div class="Leaderboards">
        <h1>Top 10 Teams</h1>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>

    <div class="Team-points" style="text-align: center;">
        <h1> {{ team.team_name }}</h1>
        <p>Available Points: {{ player.todo_points }}</p>
    </div>

    <div class="Team-box">
        <!--Players-->
        {% for player in team_players %}
        <div class="Teammate-card grow">

            <div>
                <h1>{{ player.player_name }}<h1>
            </div>
            <div>
                <h3>Player Points: {{ player.player_points }}</h3>
            </div>
            <div>
                <h3>Todo Points: {{ player.todo_points }}</h3>
            </div>

            <div>
                <form action="/team/{{player.pk}}/find/" method="post">{% csrf_token %}

                    <div class="stat-field">
                        <label for="physical_attack">Physical Attack: </label>
                        <input id="physical_attack" type="number" name="physical_attack" min="0" max="10"
                            value="{{ player.physical_attack}}">
                    </div>
                    <div class="stat-field">
                        <label for="physical_defense">Physical Defense: </label>
                        <input id="physical_defense" type="number" name="physical_defense" min="0" max="10"
                            value="{{ player.physical_defense}}">
                    </div>
                    <div class="stat-field">
                        <label for="special_attack">Special Attack: </label>
                        <input id="special_attack" type="number" name="special_attack" min="0" max="10"
                            value="{{ player.special_attack}}">
                    </div>
                    <div class="stat-field">
                        <label for="special_defense">Special Defense: </label>
                        <input id="special_defense" type="number" name="special_defense" min="0" max="10"
                            value="{{ player.special_defense}}">
                    </div>
                    <div class="stat-field">
                        <label for="speed">Speed: </label>
                        <input id="speed" type="number" name="speed" min="0" max="10" value="{{ player.speed}}">
                    </div>
                    <div class="stat-field">
                        <label for="player_special_select">Physical Attack</label>
                        <input id="player_special_select" type="radio" name="player_special_select_yes"
                            value="{{ player.physiscala_Aattack }}">
                        <label for="player_special_select">Special Attack</label>
                        <input id="player_special_select" type="radio" name="player_special_select_yes"
                            value="{{ player.special_attack }}">
                    </div>
                    <div style="text-align: center;"><input type="submit" value="Update"><br><br> </div>
                </form>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}